@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --dark-gray: rgb(51, 51, 51);
  --gray: rgba(71, 71, 71, 1);
  --light-gray: rgba(91, 91, 91, 1);
  --white: rgb(240, 240, 240);
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins";
  background: var(--dark-gray);
  color: var(--white);
}

hr {
  opacity: .1;
  margin-bottom: 10px;
}

header {
  padding: 15px;
  background: var(--light-gray);
  box-shadow: 1px 0 15px -7px rgba(0,0,0,.25);
  margin-bottom: 40px;
}

.container {
  width: 95%;
  margin: 0 auto;
  /* border: 2px solid red; */
}

.container .output {
  background: var(--gray);
  padding: 20px 15px;
  margin-bottom: 40px;
  text-align: center;
  border-radius: 10px;
  
  display: flex;
  align-items: center;
}

.container .output .rendered_value {
  margin-right: auto;
  font-size: 20px;
}

.container .output .refresh {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  color: var(--white);
}

.container .input {
  width: 100%;
  background: var(--gray);
  color: var(--white);
  font-size: 16px;
  padding: 10px;
  outline: none;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
  resize: none;
  margin-bottom: 10px;
}

.container .quick_actions {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.container .quick_actions .quick_action {
  background: var(--light-gray);
  text-align: center;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container .actions {
  background: var(--gray);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
}

.container .actions .action {
  background: var(--light-gray);
  width: 60px;
  height: 60px;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  user-select: none;
}

.container .actions .menu {
  position: absolute;
  top: -150%;
  left: 0;
  display: none;
  gap: 10px;
  background: var(--gray);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
}

.container .actions .option {
  display: block;
  padding: 5px 10px;
  cursor: pointer;
}

.container .actions .option:hover, .option.hovered {
  background: var(--light-gray);
}