@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --dark-primary: #222831;
  --primary: #31363F;
  --light-primary-contrast: #6E85B2;
  --white: #fff;
}

*, *::before, *::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.katex { font-size: 1.2em; }

body {
  font-family: "Poppins";
  background: var(--dark-primary);
  color: var(--white);
  user-select: none;
}

hr {
  opacity: .1;
  margin-bottom: 20px;
}

header {
  padding: 15px;
  background: var(--light-primary-contrast);
  box-shadow: 1px 0 15px -7px rgba(0,0,0,.25);
  margin-bottom: 40px;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.container .output {
  background: var(--primary);
  padding-left: 15px;
  margin: 30px 0;
  text-align: center;
  border-radius: 5px;
  border: 1px solid var(--light-primary-contrast);

  display: flex;
  align-items: center;
  height: 80px;
}

.container .output .rendered_value {
  margin-right: auto;
}

.container .output .output_actions {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.container .output .refresh, .container .output .share {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  color: var(--white);
}

.container .output .refresh i, .container .output .share i {
  font-size: 20px;
}

.container .input_container {
  position: relative;
  margin-bottom: 10px;
}

.container .input {
  width: 100%;
  background: var(--primary);
  color: var(--white);
  font-size: 16px;
  padding: 10px 30px 10px 10px;
  outline: none;
  border: 1px solid var(--light-primary-contrast);
  border-radius: 5px;
  resize: none;
}

.container .input_actions {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 10px;
  padding:  10px;
}

.container .input_actions .input_action i {
  font-size: 20px;
}

.container .quick_actions {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.container .quick_actions .quick_action {
  /* background: var(--light-primary-contrast); */
  text-align: center;
  border-radius: 5px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.container .actions {
  background: var(--primary);
  display: grid;
  grid-template-columns: repeat(5, auto);
  justify-content: space-around;
  gap: 20px;
}

.container .actions .action {
  background: var(--light-primary-contrast);
  width: 60px;
  height: 60px;
  padding: 5px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  user-select: none;
}

.container .actions .action.has_children::before {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 100px;
  background: var(--white);
  position: absolute;
  top: 0;
  right: 0;
  margin: 5px;
}

.container .actions .menu {
  position: absolute;
  z-index: 10;
  top: -150%;
  min-width: 50px;
  width: fit-content;
  display: none;
  flex-direction: column;
  gap: 5px;
  background: var(--primary);
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 1px 1px 15px -3px rgba(0,0,0,.25);
}

.container .actions .option {
  display: block;
  padding: 0 5px;
  cursor: pointer;
}

.container .actions .option .katex {
  font-size: 1em;
}

.container .actions .option:hover, .option.hovered {
  background: var(--light-primary-contrast);
  border-radius: 5px;
}